<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Page</title>
  </head>
  <body>
    <h1>About Page</h1>
    Welcome to MJ's password generator.
    <br>This web program enables you to create a random password that generates characters based on your preferences.
    <br>
    <h2>How to Use</h2>
    <ol>
      <li>Go to the homepage.</li>
      <li>Enter the number of characters you would want to compose your password.</li>
      <li>By default, the generator only provides lower-case letters, but you could check if you would like to create them with upper-case, numbers, or special characters.</li>
      <li>Click "Generate Password" to get your random password.</li>
    </ol>

  <br>

  Created by MJ Gnilo


  <button type="button" name="button"><a href="{% url 'home' %}">Go to home</a></button>


  </body>
</html>
